h1 {
  display: inline;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 160%;
  color: #fff;
}

.dropdown {
  margin: 10% 30% 0 30%;
  padding: 13px;
  background-color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdown .stakes {
  background-color: #e67e22;
  color: #fff;
  display: inline;
  float: left;
  padding: 20px 15px;
  margin: -14px 8px;
}

.dropdown .arrow {
  float: right;
  text-decoration: none;
  color: #fff;
}

.dropdown .up {
  padding-top: 12px;
}